{
  "openapi": "3.0.4",
  "info": {
    "title": "GM Backend API",
    "description": "An API spec for the Ondo GM Backend API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gm.ondo.finance",
      "description": "GM Backend API"
    }
  ],
  "tags": [
    {
      "name": "Attestations",
      "description": "Get Mint and Redeem Attestations"
    },
    {
      "name": "Assets",
      "description": "Get Asset Price Information"
    },
    {
      "name": "Tickers",
      "description": "Get Ticker Information"
    },
    {
      "name": "Chains",
      "description": "Get On Chain Data"
    },
    {
      "name": "Limits",
      "description": "Get Trading Limits"
    },
    {
      "name": "Status",
      "description": "Get Market and Trading Statuses"
    }
  ],
  "paths": {
    "/v1/attestations": {
      "post": {
        "tags": [
          "Attestations"
        ],
        "summary": "Request a Mint or Redeem Attestation",
        "description": "An attestation is a signed payload that authorizes a user to mint or redeem tokens. Each attestation is only valid for a limited time and is determined by the duration in the request. A user can specify a duration of `short` for a tighter price spread or `long` for an extended validity period.\n\nNote: There are specific user and session limits which can prevent the creation of an attestation. For more information on limits, see the [Get Trading Limits](https://docs.ondo.finance/api-reference/limits/get-trading-limits) endpoint.\n\nSee also: [Error Codes](https://docs.ondo.finance/api-reference/error-codes)\n",
        "operationId": "createAttestation",
        "requestBody": {
          "description": "Request a mint or redeem attestation.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/AttestationByTokenAmountRequest"
                  },
                  {
                    "$ref": "#/components/schemas/AttestationByNotionalValueRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attestation"
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_symbol": {
                    "summary": "Invalid Symbol",
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "One of the request parameters is invalid.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  },
                  "missing_user_address": {
                    "summary": "Missing User Address (Solana)",
                    "value": {
                      "code": "MISSING_USER_ADDRESS",
                      "message": "missing user address",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_user_address"
                    }
                  },
                  "invalid_user_address": {
                    "summary": "Invalid User Address (Solana)",
                    "value": {
                      "code": "INVALID_USER_ADDRESS",
                      "message": "invalid user address",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_user_address"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The request was denied due to market state, asset state, or insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "market_closed": {
                    "summary": "Market Closed",
                    "value": {
                      "code": "MARKET_CLOSED",
                      "message": "market is closed",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#market_closed"
                    }
                  },
                  "asset_paused": {
                    "summary": "Asset Paused",
                    "value": {
                      "code": "ASSET_PAUSED",
                      "message": "asset trading is paused",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_paused"
                    }
                  },
                  "read_only": {
                    "summary": "Read-Only API Key",
                    "value": {
                      "code": "READ_ONLY_API_KEY",
                      "message": "read-only API key cannot perform write operations",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#read_only_api_key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided asset symbol does not exist and cannot be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "ASSET_NOT_FOUND",
                      "message": "asset not found",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/attestations/soft": {
      "post": {
        "tags": [
          "Attestations"
        ],
        "summary": "Request a Soft Attestation Quote",
        "description": "A soft quote provides pricing information for mint or redeem operations without creating an actual attestation. Unlike the [Request a Mint or Redeem Attestation endpoint](https://docs.ondo.finance/api-reference/attestations/request-a-mint-or-redeem-attestation), soft quotes:\n\n- Are not eligible for on-chain submission\n- Do not count against user limits (Active Notional Value, Session Notional Value, or Active Attestations)\n- Serve as pricing references for quote validation and user interface display\n- Do not include authentication fields such as `attestationId`, `userId`, `expiration`, or `signature`\n\nThis endpoint can be used to acquire estimated pricing without impacting trading limits or creating binding commitments.\n\nSee also: [Error Codes](https://docs.ondo.finance/api-reference/error-codes)\n",
        "operationId": "createSoftAttestationQuote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SoftQuoteByTokenAmountRequest"
                  },
                  {
                    "$ref": "#/components/schemas/SoftQuoteByNotionalValueRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoftQuote"
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "One of the request parameters is invalid.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The request was denied due to market state, asset state, or insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "market_closed": {
                    "summary": "Market Closed",
                    "value": {
                      "code": "MARKET_CLOSED",
                      "message": "market is closed",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#market_closed"
                    }
                  },
                  "asset_paused": {
                    "summary": "Asset Paused",
                    "value": {
                      "code": "ASSET_PAUSED",
                      "message": "asset trading is paused",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_paused"
                    }
                  },
                  "read_only": {
                    "summary": "Read-Only API Key",
                    "value": {
                      "code": "READ_ONLY_API_KEY",
                      "message": "read-only API key cannot perform write operations",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#read_only_api_key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided asset symbol does not exist and cannot be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "ASSET_NOT_FOUND",
                      "message": "asset not found",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/all/prices/latest": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Current Prices for All Supported Assets",
        "description": "This endpoint retrieves the latest prices for all supported assets. Note that the `primaryMarket` represents the on-chain token while the `underlyingMarket`\nrepresents the off-chain collateralized stock. Assets can be sorted by price in either ascending or descending order.\n\nFor real-time price updates as they occur, rather than repeatedly polling this endpoint, use the [Price Streaming](https://docs.ondo.finance/api-reference/price-streaming) endpoint.\n\nPrices are intended for display only. For real-time trading prices, use the [Soft Attestation Quote](https://docs.ondo.finance/api-reference/attestations/request-a-soft-attestation-quote) API. We do not recommend using the price feeds as an oracle for these assets. An official oracle is in development and will be documented when available. For questions, contact [support@ondo.finance](mailto:support@ondo.finance).\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getAllPrices",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "The sort direction for prices.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetPrice"
                  }
                },
                "example": [
                  {
                    "primaryMarket": {
                      "symbol": "TSLAon",
                      "price": "48.516937826065743784"
                    },
                    "underlyingMarket": {
                      "ticker": "TSLA",
                      "price": "338.88"
                    },
                    "timestamp": 1755888858907
                  },
                  {
                    "primaryMarket": {
                      "symbol": "AAPLon",
                      "price": "171.383708297189751178"
                    },
                    "underlyingMarket": {
                      "ticker": "AAPL",
                      "price": "228.330909"
                    },
                    "timestamp": 1755888858893
                  },
                  "..."
                ]
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "invalid symbol; must be at least 3 characters long and end with 'on'",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/{symbol}/prices/latest": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Current Price for an Asset",
        "description": "This endpoint retrieves the latest price for a specific asset. Note that the `primaryMarket` represents the on-chain token while the `underlyingMarket`\nrepresents the off-chain collateralized stock.\n\nFor real-time price updates as they occur, rather than repeatedly polling this endpoint, use the [Price Streaming](https://docs.ondo.finance/api-reference/price-streaming) endpoint.\n\nPrices are intended for display only. For real-time trading prices, use the [Soft Attestation Quote](https://docs.ondo.finance/api-reference/attestations/request-a-soft-attestation-quote) API. We do not recommend using the price feeds as an oracle for these assets. An official oracle is in development and will be documented when available. For questions, contact [support@ondo.finance](mailto:support@ondo.finance).\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getPrice",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "The GM token symbol",
            "example": "AAPLon",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetPrice"
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "invalid symbol; must be at least 3 characters long and end with 'on'",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided asset symbol does not exist and cannot be found. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "ASSET_NOT_FOUND",
                      "message": "The provided asset symbol does not exist and cannot be found.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/all/prices/latest/enhanced": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Enhanced Prices for All Supported Assets",
        "description": "This endpoint retrieves the latest prices along with the price change and percentage change in the last 24 hours of open market for all supported assets. Assets can be sorted by price in either ascending or descending order.\n\nFor real-time price updates as they occur, rather than repeatedly polling this endpoint, use the [Price Streaming](https://docs.ondo.finance/api-reference/price-streaming) endpoint.\n\nPrices are intended for display only. For real-time trading prices, use the [Soft Attestation Quote](https://docs.ondo.finance/api-reference/attestations/request-a-soft-attestation-quote) API. We do not recommend using the price feeds as an oracle for these assets. An official oracle is in development and will be documented when available. For questions, contact [support@ondo.finance](mailto:support@ondo.finance).\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getAllAssetEnhancedPrices",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "The sort direction for prices.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetEnhancedPrice"
                  }
                },
                "example": [
                  {
                    "symbol": "NFLXon",
                    "price": "860.66471",
                    "priceChange24h": "26.80883",
                    "priceChangePct24h": "3.215043587628116264",
                    "timestamp": 1769190970623
                  },
                  {
                    "symbol": "QQQon",
                    "price": "533.707886795396811068",
                    "priceChange24h": "0.175407218134272389",
                    "priceChangePct24h": "0.032876577312266724",
                    "timestamp": 1769190970623
                  },
                  "..."
                ]
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "invalid symbol; must be at least 3 characters long and end with 'on'",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/{symbol}/prices/ohlc": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get OHLC (Open, High, Low, Close) Data for an Asset",
        "operationId": "getOHLCPrices",
        "description": "This endpoint retrieves historical Open, High, Low, Close (OHLC) price data for both the primary market (on-chain token) and underlying market (off-chain stock) for a specified asset.\n\nThis endpoint returns historical candles. To receive live, minute-bucketed OHLC updates as they occur, use the [OHLC Streaming](https://docs.ondo.finance/api-reference/ohlc-streaming) endpoint.\n\nPrices are intended for display only. For real-time trading prices, use the [Soft Attestation Quote](https://docs.ondo.finance/api-reference/attestations/request-a-soft-attestation-quote) API. We do not recommend using the price feeds as an oracle for these assets. An official oracle is in development and will be documented when available. For questions, contact [support@ondo.finance](mailto:support@ondo.finance).\n\nThe `interval` parameter determines the bucket size for data points, while the `range` parameter determines how far back historically to look for price data. See below for valid interval/range pairs.\n\nValid `interval`/`range` pairs:\n- 1min/1day *(rolling 24-hour period of open market data)*\n- 5min/1day\n- 15min/1day\n- 1hour/1month\n- 4hour/1month\n- 12hour/3month\n- 1day/3month\n- 1day/6month\n- 1day/1year\n- 1day/all *(all historical data)*\n\n**Note on `range=1day` and off-hours-tradable assets:** For assets that are tradable during the off-hours session, the `1day` range returns a plain rolling 24-hour calendar window so weekend and off-hours candles are included. For all other assets, the `1day` range returns a market-hours-aware rolling 24-hour window over open market data.\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "The GM token symbol",
            "required": true,
            "example": "AAPLon",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "The time interval between data points.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntervalEnum"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "The lookback range for historical data.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RangeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OHLCResponse"
                },
                "example": {
                  "interval": "1day",
                  "range": "3month",
                  "primaryMarket": {
                    "symbol": "BABAon",
                    "data": [
                      {
                        "timestamp": 1750723200000,
                        "open": "117.0544",
                        "high": "117.3426",
                        "low": "117.0544",
                        "close": "117.3426"
                      },
                      {
                        "timestamp": 1750809600000,
                        "open": "117.87",
                        "high": "117.87",
                        "low": "114.3677",
                        "close": "114.8076"
                      },
                      "..."
                    ]
                  },
                  "underlyingMarket": {
                    "ticker": "BABA",
                    "data": [
                      {
                        "timestamp": 1750723200000,
                        "open": "117.0544",
                        "high": "117.3426",
                        "low": "117.0544",
                        "close": "117.3426"
                      },
                      {
                        "timestamp": 1750809600000,
                        "open": "117.87",
                        "high": "117.87",
                        "low": "114.3677",
                        "close": "114.8076"
                      },
                      "..."
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "One of the request parameters is invalid.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided asset symbol does not exist and cannot be found. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "ASSET_NOT_FOUND",
                      "message": "The provided asset symbol does not exist and cannot be found.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/all/market": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Market Data for All Supported Assets",
        "description": "This endpoint retrieves comprehensive market data for all supported assets. Each asset includes both primary market (on-chain token) and underlying market (off-chain stock) information.\n\nPrimary market data includes current price, 24-hour price changes, 24-hour historical chart data, and total token holders. Underlying market data provides stock fundamentals like company name, 52-week highs/lows, trading volume, shares outstanding, and market capitalization.\n\nThis endpoint is useful for dashboard overviews and market analysis across the entire asset portfolio.\n\nThe \"Tradable Sessions\" parameter indicates the tradability for the asset; for example, some assets are available in the regular and extended stock sessions, but not overnight. Learn more about sessions at [Get Current Market Status](https://docs.ondo.finance/api-reference/status/get-current-market-status).\n\nPrices are intended for display only. For real-time trading prices, use the [Soft Attestation Quote](https://docs.ondo.finance/api-reference/attestations/request-a-soft-attestation-quote) API. We do not recommend using the price feeds as an oracle for these assets. An official oracle is in development and will be documented when available. For questions, contact [support@ondo.finance](mailto:support@ondo.finance).\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getAllMarkets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Market"
                  }
                },
                "example": [
                  {
                    "primaryMarket": {
                      "symbol": "ADBEon",
                      "price": "361.986667",
                      "priceChange24h": "8.76",
                      "priceChangePct24h": "2.479993958100564361",
                      "priceHistory24h": [
                        {
                          "timestamp": 1755802800000,
                          "price": "353.226667"
                        },
                        {
                          "timestamp": 1755803700000,
                          "price": "353.216667"
                        },
                        "..."
                      ],
                      "totalHolders": 7,
                      "sharesMultiplier": "1"
                    },
                    "underlyingMarket": {
                      "ticker": "ADBE",
                      "name": "Adobe Inc.",
                      "price": "361.986667",
                      "priceHigh52w": "587.75",
                      "priceLow52w": "330.04",
                      "volume": "1851321",
                      "averageVolume": "3610882",
                      "sharesOutstanding": "424200000",
                      "marketCap": "149925006000"
                    },
                    "constituentTokens": [],
                    "timestamp": 1755890061815
                  },
                  {
                    "primaryMarket": {
                      "symbol": "APPon",
                      "price": "440.094",
                      "priceChange24h": "20.824",
                      "priceChangePct24h": "4.966727884179645574",
                      "priceHistory24h": [
                        {
                          "timestamp": 1755802800000,
                          "price": "419.27"
                        },
                        {
                          "timestamp": 1755803700000,
                          "price": "418.55"
                        },
                        "..."
                      ],
                      "totalHolders": 7,
                      "sharesMultiplier": "1",
                      "tradableSessions": [
                        "premarket",
                        "regular",
                        "postmarket",
                        "overnight"
                      ]
                    },
                    "underlyingMarket": {
                      "ticker": "APP",
                      "name": "Applovin Corporation Class A Common Stock",
                      "price": "440.094",
                      "priceHigh52w": "525.15",
                      "priceLow52w": "82.51",
                      "volume": "5220144",
                      "averageVolume": "6480111",
                      "sharesOutstanding": "307636373",
                      "marketCap": "139487499535"
                    },
                    "constituentTokens": [],
                    "timestamp": 1755890062869
                  },
                  "..."
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/{symbol}/market": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Market Data for an Asset",
        "description": "This endpoint retrieves comprehensive market data for a specific asset, containing both primary market (on-chain token) and underlying market (off-chain stock) information.\n\nPrimary market data includes current price, 24-hour price changes, 24-hour historical chart data, and total token holders. Underlying market data provides stock fundamentals like company name, 52-week highs/lows, trading volume, shares outstanding, and market capitalization.\n\nThis endpoint is useful for dashboard overviews and market analysis across the entire asset portfolio.\n\nThe \"Tradable Sessions\" parameter indicates the tradability for the asset; for example, some assets are available in the regular and extended stock sessions, but not overnight. Learn more about sessions at [Get Current Market Status](https://docs.ondo.finance/api-reference/status/get-current-market-status).\n\nPrices are intended for display only. For real-time trading prices, use the [Soft Attestation Quote](https://docs.ondo.finance/api-reference/attestations/request-a-soft-attestation-quote) API. We do not recommend using the price feeds as an oracle for these assets. An official oracle is in development and will be documented when available. For questions, contact [support@ondo.finance](mailto:support@ondo.finance).\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getMarket",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "description": "The GM token symbol",
            "example": "AAPLon",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Market"
                },
                "example": {
                  "primaryMarket": {
                    "symbol": "ADBEon",
                    "price": "361.986667",
                    "priceChange24h": "8.76",
                    "priceChangePct24h": "2.479993958100564361",
                    "priceHistory24h": [
                      {
                        "timestamp": 1755802800000,
                        "price": "353.226667"
                      },
                      {
                        "timestamp": 1755803700000,
                        "price": "353.216667"
                      },
                      "..."
                    ],
                    "totalHolders": 7,
                    "sharesMultiplier": "1",
                    "tradableSessions": [
                      "premarket",
                      "regular",
                      "postmarket",
                      "overnight"
                    ]
                  },
                  "underlyingMarket": {
                    "ticker": "ADBE",
                    "name": "Adobe Inc.",
                    "price": "361.986667",
                    "priceHigh52w": "587.75",
                    "priceLow52w": "330.04",
                    "volume": "1851321",
                    "averageVolume": "3610882",
                    "sharesOutstanding": "424200000",
                    "marketCap": "149925006000"
                  },
                  "constituentTokens": [],
                  "timestamp": 1755890061815
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "invalid symbol; must be at least 3 characters long and end with 'on'",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided asset symbol does not exist and cannot be found. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "ASSET_NOT_FOUND",
                      "message": "The provided asset symbol does not exist and cannot be found.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/{symbol}/dividends": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Dividend Information for an Asset",
        "description": "This endpoint retrieves the latest dividend information for a specific asset, including dividend yield, payment history, and upcoming payment dates.\n\n**Dividend Yield**\n\nThe dividend yield is calculated based on the past year's worth of dividend payments and the current stock price.\n\n**Payout Frequencies**\n\nBelow outline the day ranges for each payout frequency:\n\n| Frequency         | Average Days Between Dividends |\n|-------------------|:------------------------------:|\n| **none**          | N/A                            |\n| **monthly**       | 25-35 days                     |\n| **quarterly**     | 80-100 days                    |\n| **semi-annually** | 160-200 days                   |\n| **yearly**        | 345-385 days                   |\n| **irregular**     | Outside defined ranges         |\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getLatestDividend",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "The GM token symbol",
            "example": "AAPLon",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DividendInfo"
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "invalid symbol; must be at least 3 characters long and end with 'on'",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided asset symbol does not exist and cannot be found. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "ASSET_NOT_FOUND",
                      "message": "The provided asset symbol does not exist and cannot be found.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/all/addresses": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get All Contract Addresses Across Networks",
        "description": "This endpoint retrieves all contract addresses for all supported assets across different blockchain networks.\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getAllAssetAddresses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SymbolAssetAddresses"
                  }
                },
                "example": [
                  {
                    "symbol": "AAPLon",
                    "addresses": [
                      {
                        "networkChainId": "bsc-56",
                        "address": "0x390a684ef9cade28a7ad0dfa61ab1eb3842618c4",
                        "decimals": 18
                      },
                      {
                        "networkChainId": "ethereum-1",
                        "address": "0x14c3abf95cb9c93a8b82c1cdcb76d72cb87b2d4c",
                        "decimals": 18
                      }
                    ]
                  },
                  {
                    "symbol": "ABNBon",
                    "addresses": [
                      {
                        "networkChainId": "bsc-56",
                        "address": "0xef80743f78d98fc2b47a2253b293152ce8b879ba",
                        "decimals": 18
                      },
                      {
                        "networkChainId": "ethereum-1",
                        "address": "0xb035c3d5083bdc80074f380aebc9fcb68aba0a28",
                        "decimals": 18
                      }
                    ]
                  },
                  "..."
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/{symbol}/addresses": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Contract Addresses for an Asset",
        "description": "This endpoint retrieves all contract addresses for a specific asset across different blockchain networks.\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getAssetAddresses",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "The GM token symbol",
            "example": "AAPLon",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetAddress"
                  }
                },
                "example": {
                  "symbol": "AAPLon",
                  "addresses": [
                    {
                      "networkChainId": "bsc-56",
                      "address": "0x390a684ef9cade28a7ad0dfa61ab1eb3842618c4",
                      "decimals": 18
                    },
                    {
                      "networkChainId": "ethereum-1",
                      "address": "0x14c3abf95cb9c93a8b82c1cdcb76d72cb87b2d4c",
                      "decimals": 18
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "invalid symbol; must be at least 3 characters long and end with 'on'",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided asset symbol does not exist and cannot be found. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "ASSET_NOT_FOUND",
                      "message": "The provided asset symbol does not exist and cannot be found.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/all/metadata": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Metadata for All Supported Assets",
        "description": "Returns all metadata for all symbols including identifiers, addresses, and classification tags.\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getAllAssetMetadata",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MetadataEntry"
                  }
                },
                "example": [
                  {
                    "symbol": "AAPLon",
                    "ticker": "AAPL",
                    "coingeckoId": "apple-ondo-tokenized-stock",
                    "coinmarketCapId": "38037",
                    "addresses": [
                      {
                        "networkChainId": "bsc-56",
                        "address": "0x390a684ef9cade28a7ad0dfa61ab1eb3842618c4",
                        "decimals": 18
                      },
                      {
                        "networkChainId": "ethereum-1",
                        "address": "0x14c3abf95cb9c93a8b82c1cdcb76d72cb87b2d4c",
                        "decimals": 18
                      }
                    ],
                    "tags": {
                      "assetClass": "Equities",
                      "instrumentType": "Stock"
                    }
                  },
                  {
                    "symbol": "ABNBon",
                    "ticker": "ABNB",
                    "coingeckoId": "airbnb-ondo-tokenized-stock",
                    "coinmarketCapId": "38044",
                    "addresses": [
                      {
                        "networkChainId": "bsc-56",
                        "address": "0xef80743f78d98fc2b47a2253b293152ce8b879ba",
                        "decimals": 18
                      },
                      {
                        "networkChainId": "ethereum-1",
                        "address": "0xb035c3d5083bdc80074f380aebc9fcb68aba0a28",
                        "decimals": 18
                      }
                    ],
                    "tags": {
                      "assetClass": "Equities",
                      "instrumentType": "Stock"
                    }
                  },
                  "..."
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/assets/{symbol}/shares-multiplier": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get Shares Multiplier History for an Asset",
        "operationId": "getSharesMultiplier",
        "description": "This endpoint retrieves the shares multiplier history for a specific asset. Note that some asset events do not result in the shares multiplier value changing. This endpoint will show the earliest timestamp for each value change.\n\nThe `range` parameter determines how far back historically to look for shares multiplier data. See below for valid range values.\n\nValid `range` values:\n- 1day\n- 1month\n- 3month\n- 6month\n- 1year\n- all *(all historical data)*\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "The GM token symbol",
            "required": true,
            "example": "AAPLon",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "description": "The lookback range for historical data.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RangeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharesMultiplierResponse"
                },
                "example": {
                  "history": [
                    {
                      "sharesMultiplier": "0.481891643381832405",
                      "changeTimestamp": 1762736520093
                    },
                    {
                      "sharesMultiplier": "0.481566453805576042",
                      "changeTimestamp": 1754870400044
                    },
                    {
                      "sharesMultiplier": "0.481185641420460013",
                      "changeTimestamp": 1753992000000
                    },
                    "..."
                  ],
                  "timestamp": 1770161184102
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "One of the request parameters is invalid.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The provided asset symbol does not exist and cannot be found. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "ASSET_NOT_FOUND",
                      "message": "The provided asset symbol does not exist and cannot be found.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#asset_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/tickers": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Get Price and Volume Data for All Supported Tickers",
        "description": "This endpoint retrieves the latest price and volume data for all supported tickers. A ticker represents a specific asset in the market.\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getAllTickers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TickerResponse"
                  }
                },
                "example": [
                  {
                    "tickerId": "TSLAon_USDon",
                    "baseCurrency": "TSLAon",
                    "targetCurrency": "USDon",
                    "lastPrice": 338.42375,
                    "baseVolume": 72.720573083,
                    "targetVolume": 24610.369044819
                  },
                  {
                    "tickerId": "AAPLon_USDon",
                    "baseCurrency": "AAPLon",
                    "targetCurrency": "USDon",
                    "lastPrice": 228.195452051,
                    "baseVolume": 2761.011833446,
                    "targetVolume": 630050.34345192
                  },
                  "..."
                ]
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/chains/{chainId}/balances": {
      "get": {
        "tags": [
          "Chains"
        ],
        "summary": "Get Token Balances for a User or Token",
        "description": "This endpoint retrieves all token balances for a GM Chain. Results can be optionally filtered by `tokenAddress`, `userAddress`, or both parameters together. If no filters are provided, all balances on the chain will be returned.\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getBalances",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "The chain's identifier including the chain name and chain id.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GMChains"
            }
          },
          {
            "name": "tokenAddress",
            "in": "query",
            "description": "Filter by a token contract address (optional).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userAddress",
            "in": "query",
            "description": "Filter by a user wallet address (optional).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChainToken"
                      }
                    }
                  },
                  "required": [
                    "tokens"
                  ]
                },
                "example": {
                  "tokens": [
                    {
                      "tokenAddress": "0x14c3abf95cb9c93a8b82c1cdcb76d72cb87b2d4c",
                      "tokenSymbol": "AAPLon",
                      "balances": [
                        {
                          "holderAddress": {
                            "account": "0x13116e8b4ffc8125b859ec60917fba540e59e55e"
                          },
                          "balance": "0.467583800117038432"
                        },
                        {
                          "holderAddress": {
                            "account": "0x1db995cb2b3d9679383f0e597704a41e1521f4e1"
                          },
                          "balance": "0.641380199330235549"
                        }
                      ]
                    },
                    {
                      "tokenAddress": "0xf6b1117ec07684d3958cad8beb1b302bfd21103f",
                      "tokenSymbol": "TSLAon",
                      "balances": [
                        {
                          "holderAddress": {
                            "account": "0x00000688768803bbd44095770895ad27ad6b0d95"
                          },
                          "balance": "0.030594824589372964"
                        },
                        {
                          "holderAddress": {
                            "account": "0x1db995cb2b3d9679383f0e597704a41e1521f4e1"
                          },
                          "balance": "0.088854297224463519"
                        }
                      ]
                    },
                    "..."
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "One of the request parameters is invalid.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/chains/{chainId}/tokens/{tokenAddress}/info": {
      "get": {
        "tags": [
          "Chains"
        ],
        "summary": "Get Token Info",
        "description": "This endpoint retrieves contract information about a token on a GM chain.\n\nFor caching details on this endpoint, please see: [Endpoint Caching](https://docs.ondo.finance/api-reference/endpoint-caching).\n",
        "operationId": "getTokenInfo",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "description": "The chain's identifier including the chain name and chain id.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GMChains"
            }
          },
          {
            "name": "tokenAddress",
            "in": "path",
            "description": "The token contract address",
            "example": "0x14c3abF95Cb9C93a8b82C1CdCB76D72Cb87b2d4c",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTokenInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "One of the request parameters is invalid. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INVALID_SYMBOL",
                      "message": "One of the request parameters is invalid.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#invalid_symbol"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "MISSING_API_KEY",
                      "message": "missing API key",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#missing_api_key"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The account has exceeded its rate limits. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "message": "rate limit exceeded",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#rate_limited"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred. Please see the returned message and documentation for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "error": {
                    "value": {
                      "code": "INTERNAL_ERROR",
                      "message": "An internal server error occurred. Please see the returned message and documentation for details.",
                      "documentation": "https://docs.ondo.finance/api-reference/error-codes#internal_error"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v1/limits/trading": {
      "get": {
        "tags": [
          "Limits"
        ],
        "summary": "Get Trading Limits",
[...]
